.wrapper {
   width: 100%;
   padding: 20px 12px;
   margin-top: 60px;
   color: #847577;
}
.header {
   font-size: 30px;
}
.items {
   display: flex;
   justify-content: space-between;
   list-style: none;
   margin-top: 15px;
}
