.navbar {
   grid-area: sidebar;
   background-color: #b7d6ecd3;
   box-shadow: inset 0px 2px 30px #93c1e0;
   width: 220px;
}
.navbar ul{
   list-style-type: none;
   font-size: 26px;
   padding-left: 34px;
   margin: 40px 0;
}