.app {
  display: grid;
  grid-template-areas:  'header header'
                        'sidebar profile';
  grid-template-columns: 220px 1fr;
  grid-template-rows: 70px 1fr;
  width: 1200px;
  margin: 0 auto;
}












