* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f2f2f2;
}

.app {
  display: grid;
  grid-template-areas:  'header header'
                        'sidebar profile';
  grid-template-columns: 220px 1fr;
  grid-template-rows: 70px 1fr;
  width: 1200px;
  margin: 0 auto;
}

.content {
  grid-area: profile;
  background-color:#f2f2f2;
  padding: 20px;
  width: 100%;
  width: 980px;
}












